@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Chefs
8. Testimonials
9. Reservations
10. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Great+Vibes|PT+Sans+Narrow:400,700');
@font-face
{
	font-family: 'Edward';
	src: url(../font/edwardian_script_itc.ttf) format('truetype'),
	url(../font/edwardian_script_itc.otf) format('opentype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	line-height: 1.875;
	font-weight: 400;
	color: #636363;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(196, 171, 159, 0.5);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'PT Sans Narrow', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #232323;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.trans_800
{
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.page_subtitle
{
	font-family: 'PT Sans Narrow', sans-serif;
	color: #F4BE74;
	line-height: 0.75;
}
.button
{
	width: 200px;
	height: 47px;
	background: transparent;
	border: none;
	text-align: center;
	transition: all 0.5s;
  	cursor: pointer;
}
.button a
{
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #000000;
	line-height: 44px;
}
.button:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
.section_subtitle
{
	font-size: 36px;
}
.section_title h1
{
	font-size: 48px;
}

.space {
	height: 3000px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	background: rgba(0,0,0,0.85);
}
.header_content
{
	width: 100%;
	height: 149px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 80px;
}
.logo
{
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-ms-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}
.logo a
{
	display: block;
}
.logo a > div:first-child
{
	font-size: 36px;
	line-height: 0.75;
	color: #FFFFFF;
}
.logo a > div:last-child
{
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.680em;
	line-height: 0.75;
	margin-top: 12px;
}
.main_nav
{
	margin-left: 100px;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 40px;
}
.main_nav ul li a
{
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.main_nav ul li a:hover
{
	color: #FDC473;
}

.reservations_phone
{
	height: 47px;
	line-height: 43px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 100px;
	text-align: center;
	border: solid 2px #FFFFFF;
	background: transparent;
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

.reservations_phone a:hover{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	
}

.reservations_phone:hover{
	border: solid 2px #F4BE74;
	color: #F4BE74;
	
}
/*********************************
10. login
*********************************/

  /* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
/* Extra styles for the cancel button */

  
  .logincontainer {
	padding: 16px;
	background-color: #232323;
  }

  .loginbtn {
	padding: 10px 18px;
	background-color: transparent;
	border-radius: 12px;
	border: 1px solid #ccc;
	color: white;
	margin-top: 30px;
  }

  /* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
	color: #FFFFFF;
  }

.imgcontainer h2{
	color: #FFFFFF;
	size: 30px;
	font-weight: 900;
	text-align: center;
}

  .rememberchk {
	 margin-left: 20px;
  }
  
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color:#232323;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 4px solid #000000; 
	width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }
/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 524px;
}
.home_container
{
	position: absolute;
	bottom: 129px;
	left: 0;
	width: 100%;
}
.home_subtitle
{
	font-size: 40px;
	font-weight: bold;
	line-height: 0.75;
}
.home_title
{
	margin-top: -2px;
}
.home_title h1
{
	font-size: 72px;
	color: #FFFFFF;
}

.next_button{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

/*********************************
6. Tutorials
*********************************/
.tutorials
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 102px;
	margin-bottom: 70px;
}

.tutorials_content
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -165px;
	width: 679px;
	background: #FFFFFF;
	border: solid 2px #b49383;
	box-shadow: 0px 45px 70px rgba(0,0,0,0.24);
	z-index: 1;
	padding-top: 55px;
	padding-bottom: 59px;
	padding-left: 70px;
	padding-right: 50px;
}

/*********************************
7. Video
*********************************/

.video_section
{
	width: 100%;
	height: 500px;
}
.video_section_content
{
	width: 100%;
	height: 100%;
}
.video_section_title
{
	font-size: 48px;
	color: #FFFFFF;
	line-height: 1.2;
}
.video_section_icon
{
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: solid 2px #FFFFFF;
	text-align: center;
	margin-top: 27px;
}
.video_button
{
	display: block;
	width: 100%;
	height: 100%;
}
.video_button:focus
{
	outline: none;
}
.video_section_icon i
{
	color: #FFFFFF;
	font-size: 18px;
	line-height: 52px;
	margin-left: 3px;
}
#colorbox
{
    background-color: #000000;
}

/*********************************
8. Testimonials
*********************************/

.facts
{
	width: 100%;
	padding-top: 106px;
	padding-bottom: 115px;
}
.facts .section_title
{
	margin-top: 6px;
	background-color: white;
}
.testimonials_row
{
	margin-top: 28px;
}
.quote
{
	width: 25px;
	height: 17px;
}
.quote img
{
	max-width: 100%;
}
.test_text
{
	margin-top: 23px;
}
.test_info
{
	font-size: 18px;
	color: #232323;
	margin-top: 43px;
}
.test_info span
{
	font-size: 16px;
	color: #636363;
}
/*********************************
7. Star map
*********************************/

.star-map
{
	margin-top: 100px;
}

.star-map label
{
	font-size: 24px;
	color: #000000;
	margin-top: -10px;
}

.enter-location
{
	margin-top: 50px;
	margin-bottom: 5px;
}

.star-map .pop-box
{
	left:39%;
	top: 50%;
}

/*********************************
8. Levels
*********************************/
.levels
{
	margin-top: 100px;
}

.levels button
{
	background: transparent;
	border: none;
	color: #000000;
	font-size: 40px;
}

.level
{
	margin-top: 100px;
}

/*********************************
9. map
*********************************/

.map
{
	margin-top: 100px;
}

.map img
{
	cursor: pointer;
}

.click
{
	font-weight: bold;
	color: #000;
}

.map_box
{
	position: absolute;
	top: 5%;
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	-o-transform: translateY(20%);
	transform: translateY(20%);
	left: 15%;
	width: 310px;
	height: 350px;
	background: #FFFFFF;
	border: none;
	box-shadow: 0px 45px 70px rgba(0,0,0,0.24);
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 59px;
	padding-left: 10px;
	padding-right: 50px;
}

.map .form-check
{
	margin-left: 10px;
	margin-bottom: 20px;
}

.map .form-control
{
	margin-left: 20px;
}

.map label
{
	font-size: 16px;
	color: #000000;
	margin-left: 10px;
}



.map .set-location
{
	margin-bottom: 20px;
}

  
/* The slider */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	margin-left:8%;
	margin-top: 20px;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px;
	border-radius: 50%;
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.map .output-text
{
	text-align: center;
	padding-left: 30px;
}

.map .map-button
{
	width: 100px;
	margin-left: 180px;
}

.map .map-button a
{
	font-size: 20px;
}

.pop-box
{
	position: absolute;
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	-o-transform: translateY(20%);
	transform: translateY(20%);
	border: none;
	z-index: 1;
	visibility: hidden;
}

.map .pop-box
{
	top: 25%;
	left:49%;
}

.pop-box .show {
	visibility: visible;
}

.box-img
{
	width: 200px;
	
}



/*********************************
11. Footer
*********************************/

.footer
{
	width: 100%;
	background: #232323;
	padding-top: 70px;
	padding-bottom: 60px;
}
.footer_logo_title
{
	font-size: 57px;
	line-height: 0.75;
	color: #FFFFFF;
}
.footer_logo_subtitle
{
	font-size: 19px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.680em;
	line-height: 0.75;
	margin-top: 17px;
}
.copyright
{
	font-size: 13px;
	color: rgba(255,255,255,0.41);
	line-height: 0.75;
	margin-top: 22px;
}
.footer_about p
{
	text-align: center;
	padding-top: 50px;
	color: #a5a4a4;
}
.footer_contact{
	margin-top: -10px;
}
.footer_contact ul li:not(:last-child)
{
	margin-bottom: 5px;
}
.footer_contact_title
{
	width: 110px;
	height: 21px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 21px;
	background: #BC7533;
	padding-left: 8px;
	margin-right: 11px;
}
.footer_contact_text
{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 21px;
}
.footer_contact ul li div:last-child
{
	white-space: nowrap;
}